<!DOCTYPE html>
<html lang="en" onclick="jump()">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="jump.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h1>The Didi vs Chintu</h1>
        <h3>Save the Chintu getting hit by Papa ki Pari.</h3>
        <br />
        <p>Press any key to Jump the man.</p>
      </div>

      <div class="game mt-5">
        <div class="music">
          <audio
            src="assets/horn.mp3"
            id="hornSound"
            preload="auto"
            type="audio/mpeg"
          ></audio>
          <audio
            src="assets/scream.mp3"
            id="screamSound"
            preload="auto"
            type="audio/mpeg"
          ></audio>
        </div>
        <div id="blind">
          <img src="assets/blind.png" style="width: 130px; height: 130px" />
          <!-- <i class="fa fa-blind fa-4x"></i> -->
        </div>
        <div>
          <img
            src="assets/scooty.png"
            id="truck"
            style="width: 160px; height: 150px"
          />
          <!-- <i class="fa fa-truck fa-4x" id="truck"></i> -->
        </div>
      </div>

      <div class="mt-4">
        <h4>Score: <span id="scoreSpan"></span></h4>
        <h4>High Score: <span id="highScore"></span></h4>
      </div>
    </div>
    <script src="jump.js"></script>
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
