* {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}
.game {
  width: 650px;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 15px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/587/480/non_2x/park-along-the-street-in-autumn-season-horizontal-scene-at-sunset-time-free-vector.jpg");
  background-size: cover;
}
#blind {
  width: 120px;
  height: 150px;
  position: relative;
  top: 160px;
  left: 50px;
}
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0% {
    top: 120px;
  }
  30% {
    top: 70px;
  }
  70% {
    top: 70px;
  }
  100% {
    top: 120px;
  }
}

#truck {
  position: relative;
  animation: truck 1s infinite linear;
}

@keyframes truck {
  0% {
    left: 500px;
  }
  100% {
    left: -20px;
  }
}
h4 {
  text-align: center;
  padding-top: 30px;
}
.heading {
  text-align: center;
  margin-top: 20px;
}
.btn {
  text-align: center;
}
